{% extends "wagtailcore/page.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <div class="govuk-width-container govuk-!-margin-bottom-6">
        {% if self.body %}
            <div class="govuk-!-margin-bottom-3">
                <div class="govuk-grid-row{% if self.enable_free_text_heading_navigation %} free-text-with-headings-layout{% endif %}"
                     {% if self.enable_free_text_heading_navigation %}data-auto-heading-layout{% endif %}>
                    <div class="{% if self.enable_free_text_heading_navigation %}govuk-grid-column-two-thirds{% else %}govuk-grid-column-full{% endif %}"
                         {% if self.enable_free_text_heading_navigation %}data-auto-heading-main-column{% endif %}>
                        <div class="govuk-body rich-text-content"
                             {% if self.enable_free_text_heading_navigation %}data-auto-heading-source{% endif %}>
                            {{ self.body | richtext }}
                        </div>
                    </div>
                    {% if self.enable_free_text_heading_navigation %}
                        <div class="govuk-grid-column-one-third" data-auto-heading-side-column>
                            <nav class="free-text-heading-nav"
                                 aria-label="Page contents"
                                 data-auto-heading-nav>
                                <h2 class="govuk-heading-s free-text-heading-nav__title">On this page</h2>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
