{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Password required" %}
{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        {% block password_required_message %}
            <p class="govuk-body">{% trans "You need a password to access this page." %}</p>
        {% endblock %}
        <form action="{{ action_url }}" method="post" class="govuk-auth-form">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == "password" %}
                    <div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.errors %}
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                {{ field.errors|striptags }}
                            </p>
                        {% endif %}
                    {% endif %}
                    {{ field }}
                    {% if field.name == "password" %}</div>{% endif %}
            {% endfor %}
            <button type="submit" class="govuk-button" data-module="govuk-button">{% trans "Continue" %}</button>
        </form>
    </div>
{% endblock %}
