.govuk-main-wrapper {
    display: block;
    padding: 0px;
}

.masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: #b5cd1e;
}

.masthead--combined {
    background-color: rgb(29, 112, 184);
    border-bottom: 1px solid rgb(29, 112, 184);
    color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.masthead--combined .hero__description {
    color: #fff;
}

.govuk-width-container, .hero {
    max-width: 1200px;
    margin-right: 15px;
    margin-left: 15px;
}

.hero {
    margin-bottom: 0px;
    padding: 0px 0px 10px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.hero {
    margin-bottom: 0;
    padding: 0 0 10px;
}

.hero__description { 
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.1904761905;
}

@media (min-width: 1280px) {
    .hero {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .govuk-width-container {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    @supports (margin:max(calc(0px))) {
        .govuk-width-container {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }
}

@media (min-width: 40.0625em) {
    .hero__content {
        width: 66.6%;
    }
    .masthead {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 14px;
    }
    .govuk-width-container, .hero {
        margin-right: 30px;
        margin-left: 30px;
    }
    .hero__description {
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.section-cards-container {
    padding: 30px 0;
    background-color: #f8f7f4;
}

.section-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 26px;
}

.section-card {
  box-sizing: border-box;
  display: flex;          /* optional */
  flex-direction: column; /* optional */
  background: white;
  padding: 17px;
  border: 3px solid rgb(243, 242, 241);
}

@media (min-width: 40.0625em) {
    .app-service-navigation__item--featured {
        text-align: right;
        flex: 1 0 auto;
    }
}