.masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #b5cd1e;
}

.masthead--combined {
    background-color: rgb(29, 112, 184);
    border-bottom: 1px solid rgb(29, 112, 184);
    color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.masthead--combined .hero__description {
    color: #fff;
}

.hero {
    margin-bottom: 0px;
    padding: 0px 0px 10px;
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.hero {
    margin-bottom: 0;
    padding: 0 0 10px;
}

.hero__description { 
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.1904761905;
}

@media (min-width: 1020px) {
    .hero {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (min-width: 40.0625em) {
    .masthead {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 14px;
        margin-bottom: 40px;
    }
    .hero {
        margin-right: 30px;
        margin-left: 30px;
    }
    .hero__description {
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

.govuk-main-wrapper {
    display: block;
    padding-top: 0px;
}

.section-card {
    border: 1px solid #b1b4b6;
    padding: 20px;
    height: 100%;
}

.section-card__text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .app-service-navigation__item--featured {
        text-align: right;
        flex: 1 0 auto;
    }
}