{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{% trans "Sign out" %}</h1>
    <p class="govuk-body">{% trans "Are you sure you want to sign out?" %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ redirect_field }}
        <button type="submit" class="govuk-button" data-module="govuk-button">{% trans "Sign out" %}</button>
    </form>
{% endblock %}
