{% extends "base.html" %}
{% block title %}Your profile{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        {% if auth_id_token %}
            <!-- auth id_token: {{ auth_id_token }} -->
        {% else %}
            <!-- auth id_token: unavailable -->
        {% endif %}
        <h1 class="govuk-heading-l govuk-!-padding-top-6">Your profile</h1>
        <p class="govuk-body">These are the details for your current signed-in session.</p>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Full name</dt>
                <dd class="govuk-summary-list__value">
                    {{ request.user.get_full_name|default:"-" }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value">
                    {{ request.user.email|default:"-" }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Editor access</dt>
                <dd class="govuk-summary-list__value">
                    {% if request.user.is_staff %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date joined</dt>
                <dd class="govuk-summary-list__value">
                    {{ request.user.date_joined|date:"j F Y, H:i" }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Last login</dt>
                <dd class="govuk-summary-list__value">
                    {{ request.user.last_login|date:"j F Y, H:i"|default:"Never" }}
                </dd>
            </div>
            <!--div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Groups</dt>
                <dd class="govuk-summary-list__value">
                    {% with groups=request.user.groups.all %}
                        {% if groups %}
                            {% for group in groups %}
                                {{ group.name }}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    {% endwith %}
                </dd>
            </div -->
        </dl>
    </div>
{% endblock %}
